
//COLOR
$color:#ff8450;
$color-light:#df6c2a;
$color-dark:#ff6626;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey:#777;
$color-grey-dark:#999;
$color-grey-light:#eee;
$color-white:#E1E1E1;
$color-green:#84C38E;
$color-black:#000;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

