.btn{ 
  &,
    &:link,
     &:visited {
      
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
        
  

   
}

&:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.1rem 2 rgba($color-white,.2);

  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
}
&:active,
&:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-green,.2);}


&_green {
  background-color: $color-white;
  color:$color-grey;
   
  &::after {
    background-color: $color-white;
}
 
 }
 &_white {
  background-color: $color-light;
  color: $color-white;

  &::after {
      background-color: $color-light;
  }
}

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
&_animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
  

  }

  btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color;
        color: $color-grey;
        box-shadow: 0 1rem 2rem rgba($color-white, .15);
        transform: translateY(-2px);
    }

    &:active,
    &:focus {
      outline:none;
        box-shadow: 0 .5rem 1rem rgba($color-white, .15);
        transform: translateY(0);
    }
}
.btn-text {
  &:link,
  &:visited {
      font-size: $default-font-size;
      color: $color;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color;
      padding: 3px;
      transition: all .2s;
  }
  &:hover {
    background-color: $color;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-white, .15);
    transform: translateY(-2px);
}
&:active {
  box-shadow: 0 .5rem 1rem rgba($color-white, .15);
  transform: translateY(0);
}

  
}
   

