.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    
    &__side {
        background-color:$color-green;
        height: 50rem;
        color: $color-grey;
        font-size: 2rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
    &--front {
        background-color:#fff;

    }
    &--back{
        background-color:$color-green;
        transform:rotateY(180deg);

        &-1{
            background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);
        }
        &-2{
            background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark);
        }
        &-3{
            background-image: linear-gradient(to right bottom, $color,$color-light);
        }

            
        

    }
    
    }
    &:hover &__side--front{
        transform:rotateY(-180deg);
    }
    &:hover &__side--back{
        transform:rotateY(0);
    }

    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        overflow: hidden;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 

        &--1{
            background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark),
            url(../images/nat-5.jpg);
        }
        &--2{
            background-image:linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark),
             url(../images/nat-7.jpg);
        }
        &--3{
            background-image: linear-gradient(to right bottom, $color-light,$color-dark),
            url(../images/nat-6.jpg);
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color:$color-grey;
        text-align: right;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 65%;

       

      }

      &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;


        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }
        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
        &--3{
            background-image: linear-gradient(to right bottom, 
            rgba($color-light, .85), 
            rgba($color-dark, .85));
        }
      }
      &__details{
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light;
                }
            }
        }

      }


     &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        
     }
     &__price-box {
            margin-bottom:8rem;
            text-align: center;
            color: $color-grey;
            

        }
        &__price-only {
            font-size:1.4rem;
            text-transform: uppercase;
        }
        &__price-value {
            font-size: 6rem;
            font-weight:100;


        }

}