body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
}



.primary-header {
    color: $color-green;
    text-transform: uppercase;
    backface-visibility: hidden;
    
     
  
    &_main {
      display: block;
      font-size: 60px;
      font-weight: 400;
      letter-spacing: 35px;
      animation-name: moveInLeft;
      animation-duration: 3s;
      animation-timing-function: ease-out; }
    
    &_sub {
      display: block;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 17.4px;
      animation-name: moveInLeft;
      animation-duration: 3s;
      animation-timing-function: ease-out; }
    
  
  }
  

 .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-light, $color-dark);
    -webkit-background-clip: text;
     color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    padding-bottom: 5rem;


  &:hover {
        transform: skewY(2deg)  skewX(15deg) scale(1.1);
       text-shadow: .5rem 1rem 2rem rgba($color-grey, .2);
    }
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
      margin-bottom: 3rem;
  }
}
